#teaminfo-container {
    padding: 0 187px;
    text-align: center;
    .teaminfo-text-header {
        margin: 0 auto;
    }
    .teaminfo-text-section,
    .teachers-text-section {
        padding: 70px 0;
    }
    .teaminfo-img {
        width: 400px;
        height: 225px;
    }
    .teaminfo-teacher-container {
        padding: 70px 0;
    }
    .teaminfo-avatar {
        height: 420px;
        max-height: 500px;
        min-height: 400px;
    }
    .teaminfo-text-wrap,
    .teachers-text-wrap {
        h1 {
            padding-bottom: 26px;
            font-size: 28px;
        }
        h2 {
            font-size: 18px;
            // padding: 30px 0;
        }
    }
}