@import '../../RankTable/style.less';
.custom-image img {
  display: block;
}
.custom-card {
  padding: 10px 16px;
  p {
      color: #999;
  }
  h3 {
    padding: 10px 0;
  }
}
.price-rank {
    position: absolute;
    color: #4fbab4;
    font-size: 20px;
    font-weight: 600;
}
.price-rank-1 {
    .price-rank
}
.price-rank-2 {
    .price-rank
}
.price-rank-3 {
    .price-rank
}