.upload-container {
    width: 100%;
    height: 154px;
    margin: auto;
}
.context-text-container {
    p {
     margin: 5px 0;   
     font-size: 14px;
   }
    margin-bottom: 15px;
}
#context-container {
    padding-top: 0;
    padding-bottom: 189px;
    height: auto;
}