.contest-info-title-container {
    text-align: center;
    position: relative;
    margin: auto;
    img {
        position: absolute;
        top: 0;
        left: 45%;
        z-index: 0;
    }
    p {
        position: absolute;
        margin: auto;
        left: 38%;
        z-index: 999;
        h1 { 
            color: #4fbab4;
            font-size: 40px;
        }
        h2 {
            font-weight: normal;
            color: #4fbab4;
            font-size: 28px;
        }
    }
}