#Content-timeline-container {
    background-color: #4fbab4;
    height: auto;
    .contest-info-title-container {
    text-align: center;
    position: relative;
    margin: auto;
    img {
        position: absolute;
        top: 48px;
        left: 42%;
        z-index: 0;
    }
    p {
        position: absolute;
        margin: auto;
        left: 45%;
        z-index: 999;
        h1 { 
            color: #fff;
            font-size: 40px;
        }
        h2 {
            font-weight: normal;
            color: #fff;
            font-size: 28px;
        }
    }
    }
    .timeline-wrap {
        display: block;
        margin: 0 auto ;
    }
}