#content-banner-container {
    background-color: #191f1f;
    height: 100%;
    position: relative;
    .content-banner-logo {
        width: 77%;
        max-width: 1690px;
        height: 100%;
        display: block;
        margin: auto;
    }
    .content-banner-text {
        position: absolute;
        top: 16%;
        left: 40%; 
        margin: auto;
    }
    .content-banner-btn {
        position: absolute;
        left: 42%;
        top: 58%;
        height: 45px;
        width: 264px;
        padding: 2px 25px;
        border-radius: 23px;
        font-size: 26px;
        font-weight: 500;
        color: #4f77ff;
    }
}